<ion-view title="New Kollision">             
    
    <ion-header-bar class="bar-positive">
      <h1 class="title">Action Sheet</h1>
    </ion-header-bar>

                <ion-content class="has-header">
                    <form  name="Form" class="form" novalidate form-manager>
                        <div class="list list-inset" >
                            <label class="item item-input">
                                <input ng-model="message.name" name="fieldName" type="text" placeholder="Nome" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <input ng-model="message.email" name="fieldEmail" type="email" placeholder="E-mail" required ng-maxlength="50">
                            </label>
                            <label class="item item-input">
                                <input ng-model="message.subject" name="fieldSubject" type="text" placeholder="Subject" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <textarea ng-model="message.body" name="fieldBody" placeholder="Body" rows="3" required ng-minlength="2" ng-maxlength="70"></textarea>
                            </label>
                        </div>

                        <p>fieldName {{Form.fieldName.$valid}}</p>
                        <p>fieldEmail {{Form.fieldEmail.$valid}}</p>
                        <p>fieldSubject {{Form.fieldSubject.$valid}}</p>
                        <p>fieldBody {{Form.fieldBody.$valid}}</p>
                        <p>Form {{Form.$valid}}</p>
                        <div class="padding container">
                            <div class="row">
                                <button ng-click="reset()"  class="button button-assertive button-small col col-40"              > Cancel </button>
                                <button ng-click="submit()" class="button button-balanced  button-small col col-40 col-offset-10"> Submit </button>
                            </div>
                        </div>
                    </form>
                </ion-content>
    
</ion-view>