<ion-view title="New Kollision">             
    <ion-content>
      <div class="list">
		<label class="item item-input">
			<span class="input-label">Name</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Description</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Type</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Address</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Date</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Time</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Email</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Phone</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Maximum People</span>
			<input type="text" style="border: dotted">
		</label>
		<label class="item item-input">
			<span class="input-label">Other Requirements</span>
			<input type="text" style="border: dotted">
		</label>
        <ion-checkbox ng-model="Members Only">
			Members Only
        </ion-checkbox>
      </div>
    </ion-content>
</ion-view>