<ion-view title="Kollision">

    <ion-content has-header="true" has-footer="true" padding="true">
        <div class="list card">
            <div class="item item-avatar">
                <h2>{{employee.firstName}}</h2>
                <p>{{employee.type}}</p>
            </div>
            <a class="item item-icon-left" href="#/events/{{employee.managerId}}" ng-if="employee.managerId > -1"><i class="icon ion-ios7-person"></i>View Manager<p>{{employee.managerName}}</p></a>
            <a class="item item-icon-left"></i>Description<p>{{employee.description}}</p></a>
            <a class="item item-icon-left"></i>Type<p>{{employee.Type}}</p></a>
            <a class="item item-icon-left"></i>address<p>{{employee.address}}</p></a>
            <a class="item item-icon-left"></i>Date<p>{{employee.date}}</p></a>
            <a class="item item-icon-left"></i>Time<p>{{employee.time}}</p></a>
            <a class="item item-icon-left"></i>Email<p>{{employee.email}}</p></a>
            <a class="item item-icon-left"></i>Phone<p>{{employee.phone}}</p></a>
            <a class="item item-icon-left"></i>Capacity<p>{{employee.capacity}}</p></a>
            <a class="item item-icon-left"></i>Requirements<p>{{employee.requirements}}</p></a>
        </div>
    </ion-content>

			<div class="bar bar-footer item-input-inset button button-clear" style="background-color:red;" href="#/search" ng-click="myEvents.push(employee)" ng-show="myEvents.indexOf(employee) == -1">Kollide!{{ employee }}</div>
</ion-view>
