<ion-view title="Kollision">

    <ion-content has-header="true" has-footer="true" padding="true">
        <div class="list card">
            <div class="item item-avatar">
                <h2>{{employee.firstName}}</h2>
                <p>{{employee.type}}</p>
            </div>
         <!--    <a class="item item-icon-left" href="#/events/{{employee.managerId}}" ng-if="employee.managerId > -1"><i class="icon ion-ios7-person"></i>View Manager<p>{{employee.managerName}}</p></a> -->
            <a class="item item-icon-left"></i>Description<p>I want to create an app that allows you to do blah...</p></a>
            <a class="item item-icon-left"></i>Type<p>App</p></a>
          
            <a class="item item-icon-left"></i>Email<p>{{employee.email}}</p></a>
        

        </div>
    </ion-content>
	
			<div class="bar bar-footer item-input-inset button button-clear" style="background-color:red;" href="#/search" ng-click="ev.push(employee)" ng-show="meIn(employee)">Kollide!{{ employee }}</div>
                                        <div class="row">
                                <button href="#/search" class="button button-assertive button-small col col-40"              > Cancel </button>
                                <button ng-click="submit()" class="button button-balanced  button-small col col-40 col-offset-10"> Submit </button>
                            </div>
</ion-view>
